<template>
  <div>
    <b-overlay :show="loading" rounded="lg" opacity="0.6" no-wrap>
      <template #overlay>
        <div class="d-flex align-items-center">
          <b-spinner small type="grow" variant="secondary"></b-spinner>
          <b-spinner type="grow" variant="dark"></b-spinner>
          <b-spinner small type="grow" variant="secondary"></b-spinner>
          <!-- We add an SR only text for screen readers -->
          <span class="sr-only">Please wait...</span>
        </div>
      </template>
    </b-overlay>
    <div class="mt-5">
      <b-row
        no-gutter
        align-v="center"
        class="justify-content-center font-20 otp-head-text"
      >
        Bằng cách nhập mã OTP <b>{{ phone }}</b> đã gửi về SMS, bạn sẽ hoàn tất chia sẽ hồ
        sơ cho
        <b>{{ fromName }}</b>
      </b-row>
      <b-row
        no-gutter
        align-v="center"
        class="justify-content-center font-20 otp-head-text"
      >
        <OtpInput
          ref="otpInput"
          input-classes="otp-input"
          separator=""
          :num-inputs="6"
          :should-auto-focus="true"
          :is-input-num="true"
          @on-change="handleOnChange"
          @on-complete="handleOnComplete"
        />
      </b-row>
      <b-row class="mt-3 mr-5 ml-5 tc-button">
        <b-button pill variant="primary" :disabled="otp.length != 6" size="lg" class="full-width" @click="onComplete"
          >HOÀN TẤT CHIA SẺ</b-button
        >
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import OtpInput from "@bachdgvn/vue-otp-input";
export default {
  transition: "layout",
  components: {
    OtpInput,
  },
  data() {
    return {
      loading: false,
      phone: "",
      username: "",
      phone: "",
      fromName: "",
      otp: "",
    };
  },
  watch: {
    requestInfo: {
      immediate: true,
      handler(value) {
        const _this = this;
        if (_this.requestInfo != null) {
          _this.phone = _this.requestInfo.recipientPhone;
          _this.fromName = _this.requestInfo.requester;
        }
      },
    },
  },
  created() {},
  computed: {
    ...mapState({
      shareProfiles: (state) => state.shareProfiles,
      requestInfo: (state) => state.requestInfo,
    }),
  },

  async mounted() {},
  methods: {
    handleOnComplete(value) {
    },
    handleOnChange(value) {
      const _this = this;
      _this.otp = value
    },
    async onComplete() {
      const _this = this;
      _this.loading = true;
      try {
        var ids = _.map(_this.shareProfiles, (v) => v.patientHospitalID);
        var data = {
          ids: ids,
          phone: _this.requestInfo.recipientPhone,
          otp: _this.otp,
        };
        const { success, message } = await _this.$axios.$post(
          `api/app/health-profile-web/connect/${_this.requestInfo.publicId}`,
          data
        );
        if (success) {
          alert("Chia sẻ thành công");
            _this.$router.push("/");
        } else {
          alert(message);
        }
        _this.loading = false;
      } catch (error) {
        console.log("Error ======> ", error);
        alert("Có lỗi xãy ra, vui lòng thử lại");
        _this.loading = false;
      }
    },
  },
};
</script>
<style>
.otp-input {
  width: 40px;
  height: 50px;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #2163da;
  background: #2163da;
  color: white;
  text-align: center;
  &.error {
    border: 1px solid red !important;
  }
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
