@font-face {
	font-family: Pony;
	src: url("~assets/fonts/PONY.TTF");
}

@font-face {
	font-family: GothamBold;
	src: url("~assets/fonts/SVN-Gotham-Bold.otf");
}

@font-face {
	font-family: GothamLight;
	src: url("~assets/fonts/SVN-Gotham-Light.otf");
}

@font-face {
	font-family: Pony;
	src: url("~assets/fonts/PONY.TTF");
}

//$font-family-sans-serif: roboto, helvetica neue, Arial, sans-serif;
$font-family-sans-serif: GothamLight;
$font-size-base: 0.8rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;
// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f2f2f2 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$transparent: #ffffff00 !default;

// Base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #c22c3a !default;
$red1: #a30d11 !default;
$red2: #a80e12 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$yellow1: #ffe964 !default;
$yellow2: #f8d76c !default;
$yellow3: #fee20b !default;
$yellow4: #fffbe6 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$white1: #fffbe6 !default;

// Theme color default definitions
$primary: $blue !default;
$secondary: $gray-600 !default;
$secondary1: $gray-100 !default;
$secondary2: $gray-200 !default;
$secondary3: $gray-300 !default;
$secondary5: #c9c5c7 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-300 !default;
$dark: $gray-800 !default;
// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
	(
		"primary": $primary,
		"secondary": $secondary,
		"success": $success,
		"info": $info,
		"warning": $warning,
		"danger": $danger,
		"light": $light,
		"dark": $dark,
		"yellow1": $yellow1,
		"yellow2": $yellow2,
		"yellow3": $yellow3,
		"yellow4": $yellow4,
		"red1": $red1,
		"red2": $red2,
		"white1": $white1,
	),
	$theme-colors
);

// Then include the following
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";

.font-normal {
	font-family: roboto, helvetica neue, Arial, sans-serif;
}

.mt-6 {
	margin-top: ($spacer * 4) !important;
}

#app {
	min-width: 16rem;
	max-width: 26rem;
	margin-right: auto;
	margin-left: auto;
	min-height: 100vh;
	position: relative;
	// background-color: rgba(162, 13, 17, 1);
	overflow-x: hidden;
	touch-action: manipulation;
	padding: 16px;
}
.font-20 {
	font-size: 20px;
}
.avt-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.custom-checkbox {
	padding-left: 2.5rem !important;
}
.tc-div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.tc-text {
	font-size: 20px;
}
.tc-checkbox {
	margin-top: 6px;
}
.full-width {
	width: 100%;
}
.otp-head-text {
	padding: 16px;
	text-align: center;
}
.no-data {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.1;
}
.no-data > img {
	width: 200px;
	object-fit: contain;
}
.p-name {
	display: flex;
	flex: 1;
	align-items: flex-start;
	text-align: center;
}
.no-data-title {
	text-align: center;
	padding: 0 20px;
}
.tc-button{
	justify-content: center;
	align-items: center;
}
