<template>
	<div id="app" class="notranslate" style="position:relative;">
		<div v-if="$nuxt.isOffline" style="position:absolute;height:100%;width:100%;z-index: 9999999;">
			<div :style="`position: fixed; left: 50%;top:1%;z-index: 1060;width:350px`">
				<div :style="`position: relative; left: -50%;`">
					<b-alert show variant="warning"
						><a href="#" class="alert-link">Kết nối mạng của bạn không ổn định.</a></b-alert
					>
				</div>
			</div>
		</div>

		<nuxt />
	</div>
</template>
