<template>
  <div>
    <b-overlay :show="loading" rounded="lg" opacity="0.6" no-wrap>
      <template #overlay>
        <div class="d-flex align-items-center">
          <b-spinner small type="grow" variant="secondary"></b-spinner>
          <b-spinner type="grow" variant="dark"></b-spinner>
          <b-spinner small type="grow" variant="secondary"></b-spinner>
          <!-- We add an SR only text for screen readers -->
          <span class="sr-only">Please wait...</span>
        </div>
      </template>
    </b-overlay>
    <div class="mt-5" v-if="profiles.length == 0">
      <b-row align-v="center" class="no-data-title font-20">
        Bạn không có hồ sơ nào có thể chia sẻ.
      </b-row>
      <b-row class="mt-4">
        <div class="no-data">
          <img :src="noDataImg" alt="" />
        </div>
      </b-row>
    </div>
    <div class="mt-5" v-else>
      <b-row no-gutter align-v="center" class="justify-content-center font-20">
        Chọn hồ sơ muốn chia sẻ
      </b-row>
      <b-row class="mt-3">
        <b-col
          v-for="(item, index) in profiles"
          :key="index"
          col
          cols="4"
          class="mt-3 avt-flex"
        >
          <b-avatar
            :text="getName(item.fullName)"
            size="4rem"
            variant="secondary"
          ></b-avatar>
          <div class="p-name mt-2">
            <div class="name">
              {{ item.fullName }}
            </div>
          </div>
          <div class="checkBox mt-2">
            <b-form-checkbox
              :id="`checkbox-${index}`"
              size="lg"
              text-field="name"
              v-model="item.isCheck"
              :name="`checkbox-${index}`"
            ></b-form-checkbox>
          </div>
        </b-col>
      </b-row>
      <div class="mt-6 tc-div">
        <div class="tc-checkbox">
          <b-form-checkbox
            id="agreeTC"
            size="lg"
            text-field="name"
            v-model="agreeTC"
            name="checkbox-agreeTC"
          ></b-form-checkbox>
        </div>
        <div class="tc-text">
          Tôi đã đọc và đồng ý&nbsp<a href="#">T&C chia sẻ hồ sơ&nbsp</a>của&nbsp<b
            >Nutrihome</b
          >
        </div>
      </div>
      <div class="mt-3 mr-5 ml-5 tc-button">
        <b-button
          :disabled="!agreeTC || chooseProfiles.length == 0"
          pill
          variant="primary"
          size="lg"
          class="full-width"
          @click="onShared"
          >CHIA SẺ HỒ SƠ</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
const noDataImg = require("@/assets/images/box.svg");
export default {
  transition: "layout",
  data() {
    return {
      noDataImg,
      profiles: [],

      agreeTC: false,
      loading: false,
      requestPublicId: "",
      request: null,
    };
  },
  created() {},
  computed: {
    chooseProfiles() {
      const _this = this;
      return _.filter(_this.profiles, { isCheck: true });
    },
  },
  async mounted() {
    const _this = this;
    console.log("process.env.API_ENDPOINT ---> ", process.env.API_ENDPOINT);
    if (_this.$route.query.id) {
      _this.requestPublicId = _this.$route.query.id;
      await _this.getDataRequest();
    }
  },
  methods: {
    getName(name) {
      let splitName = _.split(name, " ");
      let newName = "";
      if (splitName.length >= 2) {
        let first = _.upperFirst(_.head(splitName))[0] ?? "";
        let last = _.upperFirst(_.last(splitName))[0] ?? "";
        newName = first + last;
      } else if (splitName.length > 0) {
        let first = _.toUpper(splitName[0])[0] ?? "";
        let last = _.toUpper(splitName[0])[1] ?? "";
        newName = first + last;
      } else {
        newName = name;
      }
      return newName === "" ? "UK" : newName;
    },
    onShared: async function() {
      const _this = this;
      if (_this.request) {
        const body = {
          phone: _this.request.recipientPhone,
          requestType: 'health-profile-connect'
        };
        try {
          _this.loading = true;
          const resp = await _this.$axios.$post('api/app/otp/request', body);
          if (resp.success) {
            _this.$store.commit('SET_SHARE_PROFILES', _this.chooseProfiles);
            await _this.$router.push('/otp');
          } else {
            alert(resp.message);
          }
          _this.loading = false;
        } catch (error) {
          console.log('Error ======> ', error);
          _this.loading = false;
        }
      }
    },
    async getDataRequest() {
      const _this = this;
      if (!_.isEmpty(_this.requestPublicId)) {
        try {
          _this.loading = true;
          const { data, success, message } = await _this.$axios.$get(
            `api/app/health-profile-web/${_this.requestPublicId}`
          );
          if (success) {
            _this.$store.commit("SET_REQUEST_INFO", data.request);
            _this.request = data.request;
            _this.profiles = _.map(data.dataProfiles, (v) => {
              v.isCheck = false;
              return v;
            });
          } else {
            alert(message);
          }
          _this.loading = false;
        } catch (error) {
          console.log("Error ======> ", error);
          _this.loading = false;
        }
      }
    },
  },
};
</script>
